{% extends 'adminbase.html' %}
{% block content %}

<form method="post" action="{% url 'resetpassword' %}">{% csrf_token %}
    <td><input type="hidden" name="username" value="{{data}}"></td>
            
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="name" name="name" >
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">DOB</label>
        <div class="col-sm-4">
          <input type="date" class="form-control" id="dob" name="dob" >
        </div>
      </div>
      <div class="row mb-3">
  
        <label for="" class="col-sm-2 col-form-label">Country</label>
        <div class="col-sm-10">
        <select name="country" class="form-select"  >
          <option value="">--select--</option>
          <option value="India">India</option>
          <option value="China">China</option>
          <option value="Japan">Japan</option>
          <option value="Korea">Korea</option>
        </select>
      </div>
      </div>
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4 ">
        <input type="submit" value="Submit" class="btn btn-success" onclick="return validation()"> 
        </div>
      </div>

        <script type="text/javascript">
        function validation(){
            var alpha=/^[a-zA-Z]+$/;
            var name=document.getElementById("name");
            var dob=document.getElementById("dob");
            var country=document.getElementById("country");

            if(name.value.length==0){
                alert("enter a name")
                return false;
            }
            else if(!name.value.match(alpha)){
                alert("enter valid name")
                name.focus();
                return false;
            }
            else if(dob.value.length==0){
                alert("enter dob")
                return false;
            }
            else if(country.value.length==0){
                alert("Enter country")
                return false;
            }
            else{
                return true;
            }
        }
            </script>
        
  {% endblock %}