<html>
	<table class="table">
		<thead>
		  <tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Position</th>
			<th scope="col">Age</th>
			<th scope="col">Start Date</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			<th scope="row">1</th>
			<td>Brandon Jacob</td>
			<td>Designer</td>
			<td>28</td>
			<td>2016-05-25</td>
		  </tr>
		  <tr>
			<th scope="row">2</th>
			<td>Bridie Kessler</td>
			<td>Developer</td>
			<td>35</td>
			<td>2014-12-05</td>
		  </tr>
		  <tr>
			<th scope="row">3</th>
			<td>Ashleigh Langosh</td>
			<td>Finance</td>
			<td>45</td>
			<td>2011-08-12</td>
		  </tr>
		  <tr>
			<th scope="row">4</th>
			<td>Angus Grady</td>
			<td>HR</td>
			<td>34</td>
			<td>2012-06-11</td>
		  </tr>
		  <tr>
			<th scope="row">5</th>
			<td>Raheem Lehner</td>
			<td>Dynamic Division Officer</td>
			<td>47</td>
			<td>2011-04-19</td>
		  </tr>
		</tbody>
	  </table>
	<body>
		<table>
{% for v in de %}
		
		<tr>
		<th>NAME</th>
		<td>{{v.name}}</td>
		</tr>

		<tr>
		<th>ADDRESS</th>
		<td>{{v.address}}</td>
		</tr>

		<tr>
		<th>GENDER</th>
		<td>{{v.gender}}</td>
		</tr>

		<tr>
		<th>DOB</th>
		<td>{{v.dob}}</td>
		</tr>

		<tr>
		<th>PHONE</th>
		<td>{{v.phone}}</td>
		</tr>

		<tr>
		<th>COUNTRY</th>
		<td>{{v.country}}</td>
		</tr>

		<tr>
		<th>USERNAME</th>
		<td>{{v.username}}</td>
		</tr>
		
		<tr>
		<th>PASSWORD</th>
		<td>{{v.password}}</td>
		</tr>

		<tr>
		<th>STATUS</th>
		<td>{{v.status}}</td>
		</tr>


{% if v.status == 'pending' %}
<td></td>
<td><a href="{% url 'approve' v.id %}">APPROVE</a></td>
{% endif %}

{% if v.status == 'pending' %}
<tr>
<td></td>
<td><a href="{% url 'reject' v.id %}">REJECT</a></td>
</tr>
{% endif %}


{% endfor %}


		</table>
	</body>
</html>